@import '@styles/variables.scss';
@import '@styles/common.scss';

.orthography-wrapper {
    @extend .game-wrapper;

    background-color: #fff;
    padding: 24px;

    span.ant-typography {
        font-size: 18px;
    }
}
