#cookieConsent {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background: #222;
    text-align: center;
    padding: 10px;
    z-index: 1000;

    button {
        background: #fff;
        color: #000;
        padding: 6px 12px;
        cursor: pointer;
        border-radius: 10px;
    }

    .cookie-consent {
        margin-top: 12px;
    }

    .cookie-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        width: 100%;

        div {
            display: flex;
            gap: 24px;
            margin: 12px 0;
            flex-direction: row;
        }

        a,
        a:hover,
        a:focus {
            color: #fff;
        }

        .accept,
        .decline {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        .decline {
            background-color: #999;
        }
    }
}
