.day-word {
    padding: 60px 20px;

    h2 {
        text-align: center;
        margin-top: 0;
    }

    p {
        text-align: center;

        em {
            font-size: 30px;
        }
    }
}
